<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.kitdroid.proxyhelper"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:name=".CustomApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity android:name=".SettingsAboutActivity">
        </activity>
        <activity
            android:name=".WiFiConfigListActivity"
            android:label="@string/title_activity_wi_fi_config_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ProxyDetailEditActivity"
            android:label="@string/title_activity_proxy_detail_edit">
        </activity>
    </application>

</manifest>